* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.form-group label {
  margin-left: 5px;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(to right, rgb(156, 1, 208), rgb(212, 99, 163));
  align-items: center;
}

form {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: #fff;
}

fieldset {
  border: none;
  margin: 20px 0;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 30px;
}


/* display block перетворює елемент із рядкового в блочний */
label {
  display: block;  
  margin-bottom: 5px;
  margin-right: 10px;
}

input,
textarea,
select {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

button {
  background-color: #3e8e41;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.addition {
  width: auto;
}